.modalBackground{
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.modalContainer{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 50%;
    border: 1px solid #cccccc;
    border-radius: 10px;
    padding: 2rem 1rem 1rem 2rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.group{
    margin: 1rem 0;
}
.nameLabel{
    font-size: 1.7rem;
    font-weight: 600;
}

.nameInput{
    all: unset;
    width: 50%;
    border: 2px solid #cccccc;
    border-radius: 25px;
    padding: 0.5rem 1rem;
    /* margin-top: 0.5rem;
    margin-bottom: 1rem; */
    margin-left: 1rem;
}

.colorPicker{
    margin: 1.5rem 0;
    display: flex;
}

.colorList{
    display: flex;
    margin-left: 1rem;
    gap: 10px;
}

.color{
    width: 2rem;
    height: 2rem;
    border-radius: 25px;
    cursor: pointer;
}

.createButton{
    all: unset;
    background-color: #001F8B;
    color: white;
    padding: 0.5rem 2rem;
    border-radius: 5px;
    float: right;
}

@media (max-width: 568px) {
    .modalBackground{
        z-index: 1;
    }
    .modalContainer{
        width: 80%;
        font-size: 14px;
        z-index: 1;
    }
    .nameLabel{
        font-size: 1rem;
        font-weight: 600;
    }
    .color{
        width: 1rem;
        height: 1rem;
        border-radius: 25px;
        cursor: pointer;
    }
}